html {
  position: relative;
  min-height: 100%;
}

body {
  padding : 10px ;
  margin-bottom: 60px;
}

.defaultButtonWidth{
  width: 100px;
}




/* ########################################################################## */
/* UI TEXT - MAKE THEM NOT SELECTABLE */
/* ########################################################################## */
.dirgistered_nonSelectableText {
    -webkit-user-select:none;
    -moz-user-select: none;
}


/* ########################################################################## */
/* WINDOW BORDER */
/* ########################################################################## */
.container-after-titlebar{
    border-left: 1px solid #171717;
    border-right: 1px solid #171717;
    border-bottom: 1px solid #171717;
}

/* ########################################################################## */
/* CUSTOM-TITLEBAR */
/* ########################################################################## */
.window-title{
    font-size: 13px !important;
}


/* ########################################################################## */
/* HEADINGS */
/* ########################################################################## */
h2{
    text-align: right;
    color: gray;
    font-size: 24px;
}

h3{
    text-align: right;
    color: gray;
    font-size: 16px;
}



/* ########################################################################## */
/* ROW EMPTY */
/* ########################################################################## */
.row-empty{
    height: 20px;
}
